<div id="grid">
    {{#each gallery}}
    <div class="card"><a href="/gallery/{{id}}">
            <div class="cardContent">
                <img src=" {{url}}" alt="{{description}}">
            </div>
        </a>
    </div>
    {{/each}}
</div>