<form action="/gallery" method="POST">
    <input type="text" name="description" placeholder="description" id="description">
    <input type="text" name="url" placeholder="url" id="url">
    <button type="submit">Publish</button>
    <button type="submit" formaction="/" formmethod="GET">Back to Gallery</button>
</form>