<form action="/gallery" method="POST">
    <input type="text" name="title" placeholder="title" id="title">
    <input type="text" name="author" placeholder="author" id="author">
    <input type="text" name="description" placeholder="description" id="description">
    <input type="text" name="url" placeholder="url" id="url">

    <button type="submit">Publish</button>
    <button type="submit" formaction="/" formmethod="GET">Back to Gallery</button>
</form>